# Pastas de compilação (Ancoradas na raiz para performance)
/target/
/temp_out/
/build-python/
/dist/

# Arquivos de ambiente e dados (Segurança)
.env
*.json
!index.json
scripts/processador_races.py
scripts/r2-triggers.py

# Lixo de Sistema e Python (Ignorar em qualquer subpasta)
**/.DS_Store
**/__pycache__/
